
{% extends 'base.html' %}
{% block content %}
    <table class ="container my-3">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>이미지</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        {% if movie_list %}
        {% for Movie in movie_list%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'main:detail' Movie.id %}"><img src="{{Movie.img}}" class='img-fluid ' alt="a"></a></td>
            <td><a href="{% url 'main:detail' Movie.id %}">{{Movie.title}}</a></td>
        </tr>  
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="2">영화리스트가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}