{% extends "base.html" %}
{% block title %}<title>회원 수정</title>{% endblock %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form" action="{% url 'common:update' %}">
        {% csrf_token %}
        <!-- {% include "form_errors.html" %} -->
        <div class="form-group">
            <label for="email">이메일</label>
            <span class="form-control">{{user.email}}</span>
        </div>
        <!-- <div class="form-group">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" value="{{form.password1.value|default_if_none:'' }}" >
        </div>
        <div class="form-group">
            <label for="password2">비밀번호 확인</label>
            <input type="password"class="form-control" name="password2" value="{{form.password2.value|default_if_none:'' }}">
        </div> -->
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" value="{{user.name}}">
        </div>
        <div class="form-group">
            <label for="gender">성별</label>
            <!-- <input type="text" class="form-control" name="name" value="{{form.gender.value|default_if_none:'' }}"> -->
            <select name="gender" class="form-control" aria-label="form-select-sm example">
                <option selected>성별을 고르시오</option>
                <option value="male">남</option>
                <option value="female">여</option>
            </select>
        </div>
        <div class="form-group">
            <label for="age">나이</label>
            <input type="number" class="form-control" name="age" value="{{form.age.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="phone_number">핸드폰번호</label>
            <input type="text" class="form-control" name="phone_number" value="{{form.phone_number.value|default_if_none:'' }}">
        </div>

        <div class="form-group">
            <label for="address">주소</label>
            <input type="text" class="form-control" name="address">
        </div>
       
        <button type="submit" class="btn btn-primary">수정하기</button>
      
    </form>
</br>
    <form method="post" action ="{% url 'common:delete' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">삭제하기</button>

    </form>
</div>
{% endblock %}