<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand"style=" color: #e71a0f;" href="/"><strong>CGV</strong></a>
    <button
    class="navbar-toggler ml-auto"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    <ul class="navbar-nav">

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'common:info' user.id %}">My Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" onclick="confirmLogout()">{{user.name}}(로그아웃)</a>
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">
          {{user.name}}(로그아웃)
        </button> -->
        
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:reservation' %}">영화예약</a>
      </li>
      </ul>
    </div>
  </nav>

  <!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->



  <script type="text/javascript">
    function confirmLogout(){
      if(confirm("정말 로그아웃 하시겠습니까?")){
        location.href="{% url 'common:logout' %}"
      }
    }
  </script>

 